ul{
  padding: 10px;
  text-align: center;
}
li{
  padding: 0px 10px 0px 10px;
  display: inline;
}
h1 {
  text-align: center;
}
h2{
  text-align: center;
}
p#adaquote{
  text-align: center;
  font-style: italic;
}
